#content-wrapper {
    width:100%;
    height:100%;
    margin: 10px;
    position:relative;
 }
#text {
     text-align:center;
     float:left;
     width:300px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
#title {
     color: darkblue;
 }
#size {
    font-style: italic;
}
